.nav-bar {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    background-color: black;

    &__a{
        color: white;
    }

    &__form{
        
        
    }

}
