.card-container {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 50px;
    text-align: center;
    

    &__main {
        margin: 15px;
        width: 350px;
        border-radius: 10px;
        background-color: #B8ADF7;


        &:hover {
            transform: scale(1.1);
        }

    }

    &__h4 {
        font-size: unset;
        color: white;
    }

    &__img{
        border-radius: 15px;
        margin: 20px;
    }
}

h1{
    text-align: center;
    color: #B8ADF7;
}