.card-container {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 50px;
    text-align: center;

    &__main {
        margin: 15px;
        width: 350px;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__h4 {
        font-size: unset;
    }
}